<?xml version="1.0"?>
<launch>

    <param name="robot_description" command = "$(find xacro)/xacro --inorder $(find cobot_simulation)/urdf/cobot.urdf"/>
    
    <!-- Det teh position in empty world -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <!-- Launch Gazebo world in paused-->
    <include file = "$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" default="true" />
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="paused" default="true" />
    </include>

    <!-- Sapwn the robot using the package gazebo_ros-->
    <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model" output="screen" args= "-urdf -param robot_description -model cobot -x $(arg x) -y $(arg y) -z $(arg z)"/>


</launch>